.HomeTitle {
  /* margin-top: 25vh; */
  /* width: 100%; */
  /* text-align: center; */
  text-align: right;  
  align-items: right;
  align-self: 'stretch';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Name {
  font-size: 5rem;
  text-align: right;
  line-height: 1.1;
}


.Blurb {
  font-style: italic;
}