.HomeTitle {
  /* margin-top: 25vh; */
  /* width: 100%; */
  /* text-align: center; */
  text-align: right;
}

.Name {
  font-size: 5rem;
  text-align: right;
  line-height: 1.1;
}


.Blurb {
  font-style: italic;
}