.Navbar {
    display: flex;
    align-items: center;
    flex-direction: center;

    align-self: auto;
    max-width: 60vw;
    height: 8vh;
    margin: 0vh 1vw 1vh 1vw;
    padding: 0vh 1vw 0vh 1vw;
    background-color: aliceblue;
    border-radius: 0 0 10px 10px;

    font-family: 'Merriweather Sans', sans-serif;
}